<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- logback配置信息 -->

    <!-- include 引用一些其它的配置 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <!-- property 是一个配置项，可以存放一些键值变量。如下面所定义的 -->
    <property name="LOG_FILE" value="blog" />
    <!-- appender 一般用来定义所日志存放的方式，被root统一管理，这里是打印到控制层 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 内容编码 -->
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 保存到文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <!-- 日志文件名、大小、数量的配置 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件格式 -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 日志文件配置要求 each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 控制台 appender -->
    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%class:%line] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>-->

    <logger name="org.springframework.core.env" level="ERROR"/>

    <!-- 日志的事务级别，这里方便测试，采用info -->
    <root level="INFO">
        <!-- 在文件和控制台都记录 -->
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
        <!--<appender-ref ref="STDOUT"/>-->
    </root>

     <!--保存到数据库，一般不使用，这里注释掉 -->
     <!--<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
               连接池
           <dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
              <driverClass>com.mysql.jdbc.Driver</driverClass>
              <url>jdbc:mysql://127.0.0.1:3306/databaseName</url>
              <user>root</user>
              <password>root</password>
            </dataSource>
        </connectionSource>
    </appender> -->

</configuration>
