<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackcat.blog.core.mapper.BlogArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blackcat.blog.core.entity.BlogArticle">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="category_id" property="categoryId" />
        <result column="star_count" property="starCount" />
        <result column="view_count" property="viewCount" />
        <result column="top" property="top" />
        <result column="publish" property="publish" />
        <result column="tags" property="tags" />
        <result column="introduction" property="introduction" />
        <result column="comment_count" property="commentCount" />
        <result column="content_type" property="contentType" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!--查询所有分类及文章个数-->
    <select id="getCategory" resultType="com.blackcat.blog.core.vo.CategoryVo">
        SELECT bc.id,bc.`name` as name,COUNT(ba.id) as number
        FROM blog_article ba
        LEFT JOIN blog_code bc ON ba.category_id=bc.id AND bc.parent_id is NULL
        GROUP BY ba.category_id
        ORDER BY name is NULL,bc.sort
    </select>

</mapper>
