<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackcat.blog.core.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blackcat.blog.core.entity.SysRole">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="available" property="available" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

	<!--获取ztree使用的角色列表-->
    <select id="queryRoleListWithSelected" parameterType="Integer" resultMap="BaseResultMap">
		SELECT
			r.id,
			r.name,
			r.description,
			(
				CASE
				WHEN (
					SELECT
						ur.role_id
					FROM
						sys_user_role ur
					WHERE
						ur.user_id = #{userId}
					AND ur.role_id = r.id
					LIMIT 1
				) THEN
					1
				ELSE
					0
				END
			) AS selected
		FROM
			sys_role r
		WHERE
			r.available = 1
	</select>

    <select id="listRolesByUserId" parameterType="Long" resultMap="BaseResultMap">
		SELECT
			r.id,
			r.name,
			r.description
		FROM
			sys_role r
		INNER JOIN sys_user_role ur ON ur.role_id = r.id
		WHERE
			ur.user_id = #{userId}
		AND r.available = 1
	</select>
</mapper>
