<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackcat.blog.core.mapper.SysUserRoleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.blackcat.blog.core.entity.SysUserRole" id="sysUserRoleMap">
        <result property="id" jdbcType="BIGINT" column="id"/>
        <result property="userId" jdbcType="BIGINT" column="user_id"/>
        <result property="roleId" jdbcType="BIGINT" column="role_id"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
        <result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
    </resultMap>


</mapper>